<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.peachprogram.peach"
    version   = "0.19.1">

<name>PEACH</name>

<description>
Health and Fitness application to log and review habits.
</description>

<author href="https://www.peachprogram.com" email="help@peachprogram.com">
X.Smith
</author>

<preference name="phonegap-version" value="2.1.0" />
<preference name="permissions" value="none"/>

<!-- Icons -->

<icon src="icon.png" />
<!-- Splash Screens -->
<gap:splash src="splash.png" />

</widget>
